@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --top-inc: 30px;
  --left-inc: 0px;
}

.animate {
  animation-name: jiggle-animation;
  animation-duration: 500ms;

  position: absolute;

  top: var(--top-inc);
  left: var(--left-inc);

  color: rgb(255, 92, 92)
}

@keyframes jiggle-animation {
  10% {
    left: calc(var(--left-inc) - 5px);
  }

  20% {
    left: calc(var(--left-inc) + 5px);
  }

  30% {
    left: calc(var(--left-inc) - 5px);
  }

  40% {
    left: calc(var(--left-inc) + 5px);
  }

  50% {
    left: calc(var(--left-inc) - 2px);
  }

  60% {
    left: calc(var(--left-inc) + 2px);
  }

  70% {
    left: calc(var(--left-inc) - 1px);
  }

  80% {
    left: calc(var(--left-inc) + 1px);
  }

  90% {
    left: calc(var(--left-inc) - 1px);
  }

  100% {
    left: var(--left-inc);
  }
}

@keyframes opacity-fade-in-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 10%;
  }
}

